/* Style sheet */

.title-black {
    color:black; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 300%;
}

.title-blue {
    color:darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
.center {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    min-height: 50vh;
}
.judul {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    min-height: 50vh;
    color: black;
}
.marginaw {
    margin-top: 3px;
}
.marginew {
    margin: 1px;
}
